default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: dynaposted_dev
  host: localhost
  user: <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PW'] %>

test:
  <<: *default
  database: dynaposted_test
  host: localhost
  user: <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PW'] %>

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>